body {
    font-family: Arial, Helvetica, sans-serif
}

body, .navigation-flex {
    background-color: #004F4F;
}

html {
    position: relative;
    min-height: 100%;
}

.style15 {
    line-height: 22px; 
    letter-spacing: .2em; 
    font-weight: bold; 
    font-size: 11px;
    border-top: 1px solid #666666;
    flex: 1 1 4em;
    margin: auto;
    width: 125px;
}

.style57, .style58, .style100, .style101, .main-p {
    color: #666666 !important;
} 

.style57, .style58, .style85 {
    font-weight: bold !important;
}

.style58 {
    font-size: 24px !important;
}

.style57 {
    font-size: 42px !important;
}

.style85, .style86 {
    color: #993300 !important;
}

.style85 { 
    font-size: 11px;
    line-height: 22px;
    letter-spacing: .2em;
}

.style86 {
    line-height: 30px;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: .2em;
}

.style100 {
    font-size: 12px; 
    line-height: 20px;
}

.style101 {
    font-size: 16px; 
    font-style: italic;
}

.style102 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
}

a:link, a:visited {
    color: #FFFFFF;
}

.view-links, .view-links-1 {
    color: #7D0000 !important;
    font-size: 12px !important;
    text-decoration: underline;
}

.main-p {
    font-size: 16px;
}

.first-row {
    height: 425px;
}

.col-bg {
    background-color: #000000;
}

.mt-top-heading {
    margin-top: 125px;
}

.main-container {
    margin-top: 20px;
}

.main-container-1 {
    display: none;
}

.main-bg{
    background-color: #CEE1D6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-pictures {
    display: block;
    margin: auto;
}

footer {
    margin-top: 50px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.fa-instagram {
    margin-left: 20px;
    padding: 10px;
    color: white;
}

.copyright, .copyright-sm, .fa-chevron-up, .contact-me {
    padding: 5px;
}

.copyright-sm {
    display: none;
}

.fa-youtube {
    padding: 10px;
    color: white;
}

.bottom-navbar {
    display: none;
    margin: auto;
}

.contact-me {
    margin-left: auto;
    margin-right: 20px;
    color: white;
}

.navbar-768, .navigation-flex-bottom {
    display: none;
}

@media (max-width: 1224.98px) {
    footer {
        margin-top: 75px;
    }
}

@media (max-width: 768px) {
    .top-container {
        margin-top: 0px;
        margin-bottom: 300px;
    }

    footer {
        margin-top: 100px;
    }

}

@media only screen and (max-width: 768px) {
    .top-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .main-container {
        display: none;
    }

    .main-container-1 {
        display: block;
        width: 90%;
        margin-right: 0;
    }

    .navbar-toggler {
        right: 15px;
        position: absolute;
    }

    .navigation-flex {
        display: none;
    }

    .navbar-768 {
        display: block;
    }

    .copyright {
        display: none;
    }

    .copyright-sm {
        display: block;
    }
}

@media (max-width: 575px) {
    .bottom-navbar {
        display: block;
    }
    
    .navigation-flex-bottom {
        display: block;
    }
    
    footer {
        background-color: transparent;
    }
    
}

@media (max-width: 374.98px) {
    .fa-youtube {
        padding: 10px 5;
        color: white;
    }

    .fa-instagram {
        margin-left: 10px;
        padding: 10px 5;
        color: white;
    }
}
