body {
    font-family: Arial, Helvetica, sans-serif;
}

body, .navigation-flex {
    background-color: #362412;
}

html {
    position: relative;
    min-height: 100%;
}

.style15, .style57, .style68, .style85, .style115, .style119, 
.style138, .style148 {
    font-weight: bold;
}

.style57 {
    color: #666666;
}

.style15 {
    line-height: 22px; 
    letter-spacing: .2em; 
    font-size: 11px;
    border-top: 1px solid #666666;
    flex: 1 1 4em;
    margin: auto;
    width: 125px;
}

.style57 {
    font-size: 42px;
}

.style68 {
    color: #000000; 
}

.style85 {
    color: #993300;
}

.style85 {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: .2em;
}

.style115 {
    color: #7D0000;
    font-size: 18px;
}

.style119 {
    font-size: 16px;
}

.style125 {
    font-weight: 800; 
    font-size: 18px; 
}

.style129 {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

.style138 {
    font-size: 32px;
    color: #333333;
}

.style148 {
    font-size: 18px; 
    color: #333333; 
}

a:link, a:visited {
    color: #FFFFFF;
}

.top-container-1, .top-container-2 {
    display: none;
}

.first-row {
    height: 425px;
}

.main-pictures {
    display: block;
    margin: auto;
}

.col-bg {
    background-color: #000000;
}

.main-container {
    margin-top: 20px;
}

.main-container-1, .main-container-2 {
    display: none;
}

.col-rounded {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-bg{
    background-color: #FFFFD2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.uppcc-img {
    margin: auto;
    display: block;
}

.btn {
    background-color:#362412;
    padding: 10px;
    color: white;
    display: block;
    margin: auto;
}

.btn:hover {
    border: 1px solid #362412;
    padding: 10px;
}

footer {
    margin-top: 50px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.fa-instagram {
    margin-left: 20px;
    padding: 10px;
    color: white;
}

.copyright, .copyright-sm, .fa-chevron-up, .contact-me{
    padding: 5px;
}

.copyright-sm {
    display: none;
}

.fa-youtube {
    padding: 10px;
    color: white;
}

.bottom-navbar {
    display: none;
    margin: auto;
}

.contact-me {
    margin-left: auto;
    margin-right: 20px;
    color: white;
}

.navbar-768, .navigation-flex-bottom {
    display: none;
}

.margin-side-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1550px) {
    .margin-side-bar {
        margin-top: 30px;
    }
}

@media (max-width: 1450px) {
    .margin-side-bar {
        margin-top: 45px;
    }
}

@media (max-width: 1350px) {
    .margin-side-bar {
        margin-top: 85px;
    }
}

@media (max-width: 1250px) {
    .margin-side-bar {
        margin-top: 150px;
    }
}

@media (max-width: 1150px) {
    .margin-side-bar {
        margin-top: 185px;
    }
}

@media (max-width: 1050px) {
    .margin-side-bar {
        margin-top: 250px;
    }
}

@media (max-width: 960px) {
    .castle-presa-picture {
        max-width: 350px;
        display: block;
        margin: auto;
    }

    .home-main-picture {
        max-width: 350px;
        display: block;
        margin: auto;
    }

    .main-pictures {
        max-width: 250px;
    }
}

@media (max-width: 950px) {
    .margin-side-bar {
        margin-top: 300px;
    }
}

@media (max-width: 900px) {
    .margin-side-bar {
        margin-top: 400px;
    }
}

@media (max-width: 800px) {
    .margin-side-bar {
        margin-top: 470px;
    }
}

@media (max-width: 768px) {
    .top-container {
        margin-top: 0px;
        margin-bottom: 300px;
    }

    .castle-presa-picture {
        max-width: 350px;
        display: block;
        margin: auto;
    }

    .home-main-picture {
        max-width: 350px;
        display: block;
        margin: auto;
    }

    .style115 {
        margin-bottom: 15px;
    }

    footer {
        margin-top: 100px;
    }

}

@media (max-width: 768px) {
}

@media only screen and (max-width: 768px) {
    .top-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .main-container {
        display: none;
    }

    .main-container-2 {
        display: block;
        width: 90%;
        margin-right: 0;
    }

    .mobile-pictures {
        display: block;
        margin-left: auto;
        height: 125px;
        border-radius: 15px;
    }

    .mobile-pictures-1 {
        display: block;
        margin-right: auto;
        height: 125px;
        border-radius: 15px;
    }

    .navbar-toggler {
        right: 15px;
        position: absolute;
    }

    .navigation-flex {
        display: none;
    }

    .navbar-768 {
        display: block;
    }

    .copyright {
        display: none;
    }

    .copyright-sm {
        display: block;
    }
}

@media (max-width: 575px) {
    .top-container {
        margin-bottom: 80px;
    }

    .btn {
        font-size: 14px;
    }

    .btn:hover {
        font-size: 14px;
    }
    
    .bottom-navbar {
        display: block;
    }
    
    .navigation-flex-bottom {
        display: block;
    }
    
    footer {
        background-color: transparent;
    }
}

@media (max-width: 375.98px) {
    .fa-youtube {
        padding: 10px 5;
        color: white;
    }

    .fa-instagram {
        margin-left: 10px;
        padding: 10px 5;
        color: white;
    }

    .top-container {
        margin-bottom: 100px;
    }
}

@media (max-width: 375.98px) {
    .main-pictures {
        max-width: 200px;
    }
}

@media (max-width: 280.98px) {
    .copyright-sm {
        display: none;
    }
}