body {
    background-color: #04371A;
}

html {
    position: relative;
    min-height: 100%;
}

.style15 {
    line-height: 22px; 
    letter-spacing: .2em; 
    font: bold 11px Arial, Helvetica, sans-serif;
    border-top: 1px solid #666666;
    flex: 1 1 4em;
    margin: auto;
    width: 125px;
}

.style57 {
    color: #666666;
    font-family: Agincort;
    font-weight: bold;
    font-size: 42px;
}

.style58 {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.style68 {
    color: #000000; 
    font-weight: bold; 
}

.style71 {
    color: #9F0410;
    font-weight: bold;
    font-size: 13px;
}

.style85 {
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #993300;
    line-height: 22px;
    letter-spacing: .2em;
}

.style86 {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.style8 {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}


.style115 {
    color: #7D0000;
    font-weight: bold;
    font-size: 18px;
}

.style119 {
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
}

.style125 {
    font-weight: 800; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

.style129 {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

.style138 {
    font-weight: bold;
    font-family: "Arial Black";
    font-size: 32px;
    color: #333333;
}

.style148 {
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
    color: #333333; 
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

.sire-dam-links {
    color: #333333;
}

.sire-dam-links:visited {
    color: #7D0000;
}

.top-container-sm {
    display: none;
}

.center {
    display: block;
    margin: auto;
}

.first-row {
    height: 425px;
}

.main-pictures {
    display: block;
    margin: auto;
    max-height: 550px;
}

.col-bg {
    background-color: #000000;
}

.main-container {
    margin-top: 20px;
}

.main-container-1 {
    display: none;
}

.main-container-2 {
    display: none;
}

.navigation-flex {
    background-color: #04371A;
}

.main-bg{
    background-color: #FFFFD2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer {
    margin-top: 50px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.fa-instagram {
    margin-left: 20px;
    padding: 10px;
    color: white;
}

.copyright {
    padding: 5px;
}

.copyright-sm {
    padding: 5px;
    display: none;
}

.fa-youtube {
    padding: 10px;
    color: white;
}

.bottom-navbar {
    display: none;
    margin: auto;
}

.fa-chevron-up {
    padding: 5px;
}

.contact-me {
    margin-left: auto;
    margin-right: 20px;
    color: white;
    padding: 5px;
}

.navbar-768 {
    display: none;
}

.navigation-flex-bottom {
    display: none;
}

.font-bigger {
    font-size: 24px;
}

.main-p {
    font: 12px Arial, Helvetica, sans-serif;
    color: #666666;
}

.margin-side-bar {
    margin-top: 100px;
}

.img-height {
    height: 250px;
}

.dog-pictures-1 {
    display: none;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(0, 0, 0);
    background-color: black;
    margin: 1em 0; padding: 0; }

@media (max-width: 1900px) {
    .font-bigger {
        font-size: 16px;
    }
}

@media (max-width: 1700px) {
    .img-height {
        height: 200px;
    }
}

@media (max-width: 1700px) {
    .img-height {
        height: 150px;
    }
}

@media (max-width: 1250px) {
    .margin-side-bar {
        margin-top: 115px;
    }

    .main-container {
        display: none;
    }

    .main-container-1 {
        display: block;
    }

    .img-height {
        height: 175px;
    }
}

@media (max-width: 1210px) {
    .img-height {
        height: 150px;
    }
}

.margin-dog-2 {
    margin-top: 10px;
}

@media (max-width: 1054px) {
    .img-height {
        height: 125px;
    }

    .margin-side-bar {
        margin-top: 85px;
    }

    .margin-dog-2 {
        margin-top: 0px;
    }
}

@media (max-width: 1033px) {
    .margin-dog-2 {
        margin-top: 10px;
    }
}

@media (max-width: 960px) {
    .main-pictures {
        max-height: 250px;
    }

    .margin-side-bar {
        margin-top: 65px;
    }
}

@media (max-width: 902px) {
    .margin-dog-2 {
        margin-top: 0px;
    }
}

@media (max-width: 902px) {
    .img-height {
        height: 100px;
    }
}

@media (max-width: 860px) {
    .margin-side-bar {
        margin-top: 25px;
    }
}

@media (max-width: 854px) {
    .margin-dog-2 {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .top-container-sm {
        display: block;
        margin-top: 0px;
    }

    .top-container {
        display: none;
    }

    .style115 {
        margin-bottom: 15px;
    }

    footer {
        margin-top: 100px;
    }

}

@media only screen and (max-width: 768px) {
    .top-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .margin-dog-2 {
        margin-top: 0px;
    }

    .top-container-sm {
        margin-bottom: 150px;
    }

    .main-container-1 {
        display: none;
    }

    .main-container-2 {
        display: block;
        width: 90%;
        margin-top: 300px;
        margin-right: 0;
    }

    .mobile-pictures {
        display: block;
        margin-left: auto;
        height: 125px;
        border-radius: 15px;
    }

    .mobile-pictures-1 {
        display: block;
        margin-right: auto;
        height: 125px;
        border-radius: 15px;
    }

    .navbar-toggler {
        right: 15px;
        position: absolute;
    }

    .navigation-flex {
        display: none;
    }

    .navbar-768 {
        display: block;
    }

    .copyright {
        display: none;
    }

    .copyright-sm {
        display: block;
    }
}

@media (max-width: 631px) {
    .margin-dog-1 {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .main-container-2 {
        margin-top: 175px;
    }

    .bottom-navbar {
        display: block;
    }

    .navigation-flex-bottom {
        display: block;
    }

    .dog-pictures {
        display: none;
    }

    .dog-pictures-1 {
        display: block;
    }

    footer {
        background-color: transparent;
    }
}

@media (max-width: 320px) {
    .margin-dog {
        margin-top: 10px;
    }
}

@media (max-width: 297px) {
    .main-container {
        display: none;
    }

    .main-container-2 {
        margin-top: 225px;
    }