body, .navigation-flex {
    background-color: #475F4B;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

html {
    position: relative;
    min-height: 100%;
}

.style43, .style44, .style47, .style56, .style57, 
.style60, .style61, .style148, .style160, .style161,
.style182, .style183, .style184, .style230, .style253, .main-24-p,
.style265, .style266, .main-14-p, .main-18-p 
{
    color: #666666!important;
}

.style15, .style47, .style52, .style55, .style56, 
.style60, .style57, .style68, .style78, .style61,
.style76, .style85, .style115, .style119, .style138,
.style147, .style148, .style160, .style161, .style182,
.style184, .style187, .style188, .style189, .style205,
.style230, .style218, .style246, .style252, .style253,
.style255, .style285, .style254, .style260, .style261,
.style264, .style266, .view-links
{
    font-weight: bold!important;
}

.style129, .style160, .style161, .style171, 
.style172, .style253, .style255 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.style43, .style61, .style147, .style183, .style189,
.style253 
{
    font-size: 12px!important;
}

.style44, .style129, .style160, .style172, .style184, 
.style188, .style230, .style218, .style285, .style260,
.style265, .style266, .main-14-p, .main-18-p 
{
    font-size: 14px!important;
}

.style47, .style119, .style148, .style255, .style261 {
    font-size: 16px!important;
}

.style56, .style52,.style76, .style115, .style125,
.style161, .style187, .style237, .style264, .style266
{
    font-size: 18px!important;
}

.style171, .style205 {
    font-size: 20px!important;
}

.style182 {
    font-size: 22px!important;
}

.style55, .style60, .style68, .style75, .style116,
.style246, .style254, .style262, .main-24-p
{
    font-size: 24px!important;
}

.style138 {
    font-size: 32px!important;
}

.style57 {
    font-size: 42px!important;
}

.style85, .style86 {
    letter-spacing: .2em;
    color: #993300;
}

.style15 {
    font-size: 11px;
    line-height: 22px; 
    letter-spacing: .2em; 
    border-top: 1px solid #666666;
    flex: 1 1 4em;
    margin: auto;
    width: 125px;
}

.style52 {
    color: #82002B;
}

.style55 {
    color: #333333;
}

.style75 {
    color: #CC0000;
}

.style76 {
    color: #000099;
}

.style85 {
    font-size: 11px;
    line-height: 22px;
}

.style86 {
    line-height: 30px;
    font-size: 26px;
    font-weight: 900;
}


.style115 {
    color: #7D0000;
}

.style116 {
    color: #003300;
}

.style125 {
    font-weight: 800; 
}

.style138 {
    color: #333333;
}

.style139 {
    font-size: large;
    color: #993300;
}

.style147 {
    color: #990000;
}

.style171 {
    color: #003300;
}

.style172 {
    line-height: 26px;
    letter-spacing: .21em;
    color: #9F0410;
}

.style182 {
    text-decoration: underline;
}

.style184 {
    text-decoration: underline;
}

.style186 {
    color: #003399!important;
}

.style187 {
    color: #CC0000;
}

.style68, .style129, .style188, .style189, .style260, .style261,
.style255, .style285, .style237
{
    color: #000000;
}

.style205 {
    color: #003399!important;
}

.style237 {
    font-family: "Arial Black";
}

.style218 {
    color: #CC3300;
}

.style246 {
    color: #993300;
}

.style252 {
    color: #000033;
    font-family: "Arial Black";
}


.style254 {
    color: #003399;
}

.style262 {
    color: #000099;
}

.style264 {
    color: #0033CC;
}

a:link, a:visited {
    color: #FFFFFF;
}

.view-links {
    color: #993300!important;
    text-decoration: underline;
}

.top-container-1, .top-container-2, .main-container-1,
.navbar-768, .navigation-flex-bottom, .copyright-sm  
{
    display: none;
}

.first-row {
    height: 425px;
}

.main-14-p, .main-18-p { 
    font-weight: 800;
}

.main-24-p {
    text-align: center;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(0, 0, 0);
    background-color: black;
    margin: 1em 0; padding: 0; }

.main-pictures {
    display: block;
    margin: auto;
}

.main-container {
    margin-top: 20px;
}

.col-bg {
    background-color: #000000;
}

.main-bg{
    background-color: #FFF7D5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mt-small {
    margin-top: 0px;
}

footer {
    margin-top: 50px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.fa-instagram {
    margin-left: 20px;
    padding: 10px;
    color: white;
}

.copyright, .copyright-sm, 
.fa-chevron-up, .contact-me {
    padding: 5px;
}

.fa-youtube {
    padding: 10px;
    color: white;
}

.bottom-navbar {
    display: none;
    margin: auto;
}

.contact-me {
    margin-left: auto;
    margin-right: 20px;
    color: white;
}

.img-h-w {
    min-width: 301px;
    height: auto;
}

.harley-height {
    max-height: 216px;
    width: auto;
}

@media screen and (max-width: 1100.98px) {
    .img-h-w {
        min-width: 287.48px;
        height: auto;
    }
}

@media screen and (max-width: 1050.98px) {
    .img-h-w {
        min-width: 271.88px;
        height: auto;
    }
}

@media (max-width: 1024.98px) {
    .img-h-w {
        min-width: 263.73px;
        height: auto;
    }
}

@media (max-width: 992.98px) {
    .mt-small {
        margin-top: 10px;
    }

    .img-h-w {
        min-width: 301px;
        height: auto;
    }
}

@media (max-width: 960px) {
    .main-pictures {
        max-width: 250px;
    }

    .img-h-w {
        min-width: 250px;
        height: auto;
    }

}

@media (max-width: 768px) {
    .top-container {
        margin-top: 0px;
        margin-bottom: 300px;
    }

    .style115 {
        margin-bottom: 15px;
    }

    footer {
        margin-top: 100px;
    }

    .harley-height {
        max-height: auto;
        width: auto;
    }

}

@media (max-width: 768px) {
}

@media only screen and (max-width: 768px) {
    .top-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .main-container {
        display: none;
    }

    .main-container-1 {
        display: block;
        width: 90%;
        margin-right: 0;
    }

    .mobile-pictures {
        display: block;
        margin-left: auto;
        height: 125px;
        border-radius: 15px;
    }

    .mobile-pictures-1 {
        display: block;
        margin-right: auto;
        height: 125px;
        border-radius: 15px;
    }

    .navbar-toggler {
        right: 15px;
        position: absolute;
    }

    .navigation-flex {
        display: none;
    }

    .navbar-768 {
        display: block;
    }

    .copyright {
        display: none;
    }

    .copyright-sm {
        display: block;
    }

}

@media (max-width: 575px) {
    .top-container {
        margin-bottom: 220px;
    }
    
    .bottom-navbar {
        display: block;
    }
    
    .navigation-flex-bottom {
        display: block;
    }
    
    footer {
        background-color: transparent;
    }

}

@media (max-width: 374.98px) {
    .fa-youtube {
        padding: 10px 5;
        color: white;
    }

    .fa-instagram {
        margin-left: 10px;
        padding: 10px 5;
        color: white;
    }

    .img-h-w {
        min-width: 250px;
        height: auto;
    }

    .style254, .style205 {
        font-size: 14px !important;
    }
}

@media (max-width: 320.98px) {
    .text-message-section {
        display: none;
    }

    .main-pictures {
        max-width: 150px;
        height: auto;
    }
}

@media (max-width: 319.98px) {
    .img-h-w {
        min-width: auto;
        height: auto;
    }
}

@media (max-width: 280.98px) {
    .copyright-sm {
        display: none;
    }
}