body {
    background-color: #475F4B;
}

html {
    position: relative;
    min-height: 100%;
}

.style15 {
    line-height: 22px; 
    letter-spacing: .2em; 
    font: bold 11px Arial, Helvetica, sans-serif;
    border-top: 1px solid #666666;
    flex: 1 1 4em;
    margin: auto;
    width: 125px;
}

.style43 {
    font-size: 12px;
    color: #666666;
}

.style44 {
    font-size: 14px;
    color: #666666;
}

.style47 {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

.style52 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #82002B;
    font-weight: bold;
}

.style55 {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
}

.style56 {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

.style61 {
    font-size: 12px;
    font-weight: 700;
    color: #666666;
}

.style57 {
    color: #666666;
    font-family: Agincort;
    font-weight: bold;
    font-size: 42px;
}

.style60 {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
}

.style68 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.style75 {
    font-size: 24px;
    font-weight: bold;
    color: #CC0000;
}

.style76 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000099;
    font-weight: bold;
}

.style85 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #993300;
    line-height: 22px;
    letter-spacing: .2em;
}

.style86 {
    font-family: Arial, Helvetica, sans-serif;
    color: #993300;
    line-height: 30px;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: .2em;
}


.style115 {
    color: #7D0000;
    font-weight: bold;
    font-size: 18px;
}

.style116 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #003300;
}

.style119 {
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
}

.style125 {
    font-weight: 800; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

.style129 {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

.style138 {
    font-weight: bold;
    font-family: "Arial Black";
    font-size: 32px;
    color: #333333;
}

.style139 {
    font-size: large;
    color: #993300;
}

.style147 {
    color: #990000;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}

.style148 {
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    color: #666666; 
}

.style160 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #666666;
    font-weight: bold;
}

.style161 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #666666;
    font-weight: bold;
}

.style171 {
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #003300;
}

.style172 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
    letter-spacing: .21em;
    font: 18px Arial, Helvetica, sans-serif;
    color: #9F0410;
    font-size: 14px;
}

.style182 {
    font-size: 22px!important;
    font-weight: bold!important;
    color: #666666!important;
    text-decoration: underline;
}

.style183 {
    font-size: 12px;
    color: #666666;
}

.style184 {
    font-size: 14px!important;
    font-weight: bold!important;
    color: #666666!important;
    text-decoration: underline;
}

.style186 {
    color: #003399!important;
}

.style187 {
    color: #CC0000;
    font-weight: bold;
    font-size: 18px;
}

.style188, .style189 {
    color: #000000;
    font-weight: bold;
}

.style188 {
    font-size: 14px;
}

.style189 {
    font-size: 12px;
}

.style205 {
    color: #003399!important;
    font-size: 20px;
    font-weight: bold;
}

.style187 {
    color: #CC0000;
    font-weight: bold;
    font-size: 18px;
}

.style237 {
    font-family: "Arial Black";
    font-size: 18px;
    color: #000000;
}

.style230 {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}

.style218 {
    font-size: 14pt;
    color: #CC3300;
    font-weight: bold;
}

.style246 {
    font-size: 24px;
    color: #993300;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.style252 {
    color: #000033;
    font-weight: bold;
    font-family: "Arial Black";
}

.style253 {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #666666!important;
}

.style255 {
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}

.style285 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.style254 {
    color: #003399;
    font-size: 24px;
    font-weight: bold;
}

.style260 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.style261 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.style262 {
    font-size: 24px;
    font-family: "Arial Black";
    color: #000099;
}

.style264 {
    color: #0033CC;
    font-size: 18px;
    font-weight: bold;
}

.style265, .style266 {
    font-size: 14px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

.style266 {
    font-weight: bold;
}

.style266 {
    color: #666666;
    font-size: 18px;
    font-weight: 600;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

.view-links {
    color: #993300!important;
    text-decoration: underline;
    font-weight: bold;
}

.top-container-1 {
    display: none;
}

.top-container-2 {
    display: none;
}

.first-row {
    height: 425px;
}

.main-14-p {
    font-size: 14px; 
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.main-18-p {
    font-size: 18px; 
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.main-24-p {
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    text-align: center;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(0, 0, 0);
    background-color: black;
    margin: 1em 0; padding: 0; }

.main-pictures {
    display: block;
    margin: auto;
}

.col-bg {
    background-color: #000000;
}

.main-container {
    margin-top: 20px;
}

.main-container-1 {
    display: none;
}

.navigation-flex {
    background-color: #475F4B;
}

.main-bg{
    background-color: #FFF7D5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mt-small {
    margin-top: 0px;
}

.img-h-w {
    min-width: 250px;
    height: auto;
}

footer {
    margin-top: 50px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.fa-instagram {
    margin-left: 20px;
    padding: 10px;
    color: white;
}

.copyright {
    padding: 5px;
}

.copyright-sm {
    padding: 5px;
    display: none;
}

.fa-youtube {
    padding: 10px;
    color: white;
}

.bottom-navbar {
    display: none;
    margin: auto;
}

.fa-chevron-up {
    padding: 5px;
}

.contact-me {
    margin-left: auto;
    margin-right: 20px;
    color: white;
    padding: 5px;
}

.navbar-768 {
    display: none;
}

.navigation-flex-bottom {
    display: none;
}

.img-h-w {
    min-width: 301px;
    height: auto;
}

.harley-height {
    max-height: 216px;
    width: auto;
}

@media screen and (max-width: 1100.98px) {
    .img-h-w {
        min-width: 287.48px;
        height: auto;
    }
}

@media screen and (max-width: 1050.98px) {
    .img-h-w {
        min-width: 271.88px;
        height: auto;
    }
}

@media (max-width: 1024.98px) {
    .img-h-w {
        min-width: 263.73px;
        height: auto;
    }
}

@media (max-width: 992.98px) {
    .mt-small {
        margin-top: 10px;
    }

    .img-h-w {
        min-width: 301px;
        height: auto;
    }
}

@media (max-width: 960px) {
    .main-pictures {
        max-width: 250px;
    }

    .img-h-w {
        min-width: 250px;
        height: auto;
    }

}

@media (max-width: 768px) {
    .top-container {
        margin-top: 0px;
        margin-bottom: 300px;
    }

    .style115 {
        margin-bottom: 15px;
    }

    footer {
        margin-top: 100px;
    }

    .harley-height {
        max-height: auto;
        width: auto;
    }

}

@media (max-width: 768px) {
}

@media only screen and (max-width: 768px) {
    .top-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .main-container {
        display: none;
    }

    .main-container-1 {
        display: block;
        width: 90%;
        margin-right: 0;
    }

    .mobile-pictures {
        display: block;
        margin-left: auto;
        height: 125px;
        border-radius: 15px;
    }

    .mobile-pictures-1 {
        display: block;
        margin-right: auto;
        height: 125px;
        border-radius: 15px;
    }

    .navbar-toggler {
        right: 15px;
        position: absolute;
    }

    .navigation-flex {
        display: none;
    }

    .navbar-768 {
        display: block;
    }

    .copyright {
        display: none;
    }

    .copyright-sm {
        display: block;
    }

}

@media (max-width: 575px) {
    .top-container {
        margin-bottom: 220px;
    }
    
    .bottom-navbar {
        display: block;
    }
    
    .navigation-flex-bottom {
        display: block;
    }
    
    footer {
        background-color: transparent;
    }

}

@media (max-width: 374.98px) {
    .fa-youtube {
        padding: 10px 5;
        color: white;
    }

    .fa-instagram {
        margin-left: 10px;
        padding: 10px 5;
        color: white;
    }

    .img-h-w {
        min-width: 250px;
        height: auto;
    }
}

@media (max-width: 320.98px) {
    .text-message-section {
        display: none;
    }

    .main-pictures {
        max-width: 150px;
        height: auto;
    }
}

@media (max-width: 319.98px) {
    .img-h-w {
        min-width: auto;
        height: auto;
    }
}